*{
    box-sizing: border-box;
}
body{
    margin: 30px;
}
.header
{
    background-color: rgb(206, 226, 177);
    width: 100%;
    height: 50px;
    text-align: center;
    border: 1px solid;
}
.nav
{
    background-color: rgb(206, 226, 177);
    width: 33.3%;
    height: 150px;
    text-align: left;
    float: left;
    border: 1px solid;
}
.mid
{
    background-color: rgb(206, 226, 177);
    width: 33.3%;
    height: 150px;
    text-align: left;
    float: left;
    border: 1px solid;
}
.section
{
    background-color: rgb(206, 226, 177);
    width: 33.3%;
    height: 150px;
    text-align: left;
    float: left;
    border: 1px solid;
}
.footer
{
    background-color: rgb(206, 226, 177);
    width: 100%;
    height: 50px;
    text-align: center;
    border: 1px solid;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
