* {
    box-sizing: border-box;
}  
body {
    margin: 30px;
}
.topmenu {
    height: 50px;
    text-align: left;
    border: 1px solid;
    padding: 5px;
}
.header {
    height: 150px;
    text-align: left;
    border: 1px solid;
    padding: 5px;
}

.menuleft {
    float: left;
    width: 30%;
    height: 400px;
    border: 1px solid;
    padding: 5px;
}
.content {
    float: left;
    width: .70%;
    padding: 5px;
    height: 400px;
    border: 1px solid;
}

.footer {
    height: 130px;
    text-align:left;
    border: 1px solid;
    padding: 5px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
